body {
	font-family: Arial; 
	color: black;
	background-color: white;
}

.home{
	background-color: #ffb6c1;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.europa{
	background-color: powderblue;
	font-family: cursive;

}

.amerika{
	background-color: #ffffb3;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: courier new;
}

.afrika{
	background-color: #e6ac00;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: calibri;
	font-size: 20px;
}

.oceanie{
	background-color:  #ff8533;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.site{
	background-color: #6699ff;
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#container {
	background-color: white;
	margin: 0 auto;
	width: 800px;
}

#header {
	font-size: 30px;
	color: #1188cc;
	background-color: white;
	font-family: cursive;

}

#header a{
	color: black;
}

#menu {
	background-color: black;	
	font-size: 12px;
	text-decoration: cursive;


}

#content{
	height: 700px;
	background-color: white;
}

.menuitem a{
	font-style: Courier New;
	text-decoration: none;
}

.menuitem a:hover{
 background-color: #1188cc;	
}

.topmenuitem{
	color: #fff;
}

h1 {
	text-decoration: bold;
}

h1:hover{
	text-decoration: none;
}

#footer a {
	color: black;
}

#menu a{
	color: white;
}

#container {
	color: white;
	height: 500px;
	width: 200:
}
